<div class="app">
  <div class="container">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="">Select an Image</label>
                <input type="file" class="form-control" accept="image/*" />
              </div>
              <div class="form-group">
                <label for="">Top Text</label>
                <input type="text" class="form-control" name="topText" />
              </div>
              <div class="form-group">
                <label for="">Bottom Text</label>
                <input type="text" class="form-control" name="bottomText" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- right column -->
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
